body {
    background: #EFEEB4;
}

#text-body, #header1, #header2 {
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
}

#text-body {
    transition: 0.5s;
}

.text {
    position: relative;
    display: inline-block;
    font-family: Montserrat;
    color: black;
}

h1 {
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0px;
    transition: 0.3s;
    z-index: 99;
}

h1:hover {
    opacity: 60%;
}

.line {
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.p1 {
    font-weight: 300;
    font-size: 30px;
}

.p2 {
    margin-top: 30px;
    font-weight: 300;
    font-size: 30px;
    float: right;
}

.p3 {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

#arrow1, #arrow2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
    0% { transform: rotate(45deg) translateY(0px); }
    50% { transform: rotate(45deg) scale(1.25); }
    100% { transform: rotate(45deg) translateY(0px); }
}

.top {
    font-size: 35px;
}

#text-body-fixed {
    position: relative;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s 0.5s;
}

#input {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#right {
    width: 300px;
}

.form {
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
}

.big-box {
    width: 300px;
    height: 30px;
}

.social-input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    margin-left: 10px;
}

.small-box {
    height: 20px;
}

#can-i {
    margin-top: 80px;
}

#choose {
    font-style: italic;
    left: 50%;
    transform: translateX(-50%);
}

.options {
    width: 80vw;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.blue, .teal, .green {
    position: relative;
    width: 48%;
    transition: 0.3s;
}

.options .blue:hover, .teal:hover {
    transform: scale(1.1);
}

.options .big-rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 70%;
    transition: 0.3s;
}

.options .big-rectangle:hover {
    opacity: 100%;
}

.blue .big-rectangle {
    background: #B4C4EF;
}

.teal .big-rectangle {
    background: #77D4B4;
}

.options .text {
    position: absolute;
    font-size: 30px;
    margin: 20px;
    width: 50%;
}

.blue .text {
    margin-top: 30px;
}

.teal .text {
    text-align: right;
    right: 0%;
    bottom: 0%;
}

.book {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.small {
    height: 200px;
    width: 100px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.small:hover {
    transform: scale(1.1);
}

.book .rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 70%;
    z-index: 1;
    transition: 0.3s;
}

.book .rectangle:hover {
    opacity: 10%;
}

.book .text {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    bottom: auto;
    margin: 10px;
    width: 80px;
    z-index: 2;
}

.book img {
    position: absolute;
    height: 100%;
    opacity: 50%;
    transition: 0.3s;
}

.teal .rectangle {
    background: #77D4B4;
}

.green .rectangle {
    background: #73BF82;
}

.p4 {
    margin-top: 40px;
    font-size: 25px;
}

.p5 {
    margin-top: 200px;
    font-size: 25px;
}

#final {
    margin-top: 1000px;
    transition: 0.5s;
}

.hidden {
    opacity: 0%;
}